.ticket-container{
    margin: 0 auto;
    padding: 1vh;
    hr{
        margin-bottom: 8vh;
    }
    h5{
    text-transform:capitalize;
    margin:0 auto;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5vh;
    
    }
    .ticket-description{
        // width: 80vh;
        // margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-bottom: 10vh;
        .image-container{
            margin-left: 5vw;
            width: inherit;
            img{
                width: 25vw;
                height: 60vh;
                border-radius: 14px;
            }
        }
        .event-details{
            margin: 0 15vw;
            text-align: left;
            h5{
                text-transform: capitalize;
                font-size: 1rem;
                text-align: left;
                span{
                    background-color: #68AB6A;
                    height: inherit;
                    width: .1rem;
                    color: #68AB6A;
                    margin: 0 2rem 0 0;
                }
            }
            p{
                font-size: 1rem;
                color: rgb(36, 35, 35);
            }
            button{
                left: 0;
                right: 0;
                text-align: center;
                font-weight: 700;
                margin: 5vh;
                width: fit-content;
                padding: 0 5vw;
                height: 8vh;
                background-color: #286b64;
                border: none;
                border-radius: 14px;
            }
            button:hover{
                cursor: pointer;
                color: #fff;
                border: none;
            }
        }
    }
    .event-location{
        margin-bottom: 10vh;
        margin: 0 auto;
        display: flex;
        iframe{
            align-items: center;
            justify-content: center;
            width: 80vw;
            height: 80vh;
            text-align: center;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 14px;
        }
    }
    .payment{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        gap: 10%;
        margin-left: 20vh;
        .select-types{
            border-right: 1px dashed black;
        }
        select{
        // -webkit-appearance:none;
        // -moz-appearance:none;
        // -ms-appearance:none;
        // appearance:none;
        outline:0;
        box-shadow:none;
        border:1px solid black;
        background-image: none;
        color:black;
        border-radius: 14px;
        margin: 1.5vh 0;
        padding: 2vh;
        cursor:pointer;
        }
        input{
        border-radius: 14px;
        padding: 2vh; 
        margin: 1.5vh 0;
        border: 1px solid black;
        }
        button{
            left: 0;
            right: 0;
            text-align: center;
            font-weight: 700;
            margin: 5vh;
            width: fit-content;
            padding: 1vh 3vw;
            height: 6vh;
            background-color: #286b64;
            border: none;
            border-radius: 14px;
        }
        button:hover{
            cursor: pointer;
            color: #fff;
            border: none;
        }
        p{
            font-weight: bold;
        }
    }
}