.date{
    width: 15%;
    padding: 0 .8rem;
    word-wrap: break-word;
    background: #68AB6A;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 2%;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0 0 14px 14px;
}