.sports {
  margin: 0 auto;
  padding: 1vh;
}

.sports h5 {
  margin-left: 5vw;
  font-size: 1.1rem;
}

.sports h5 span {
  background-color: #68AB6A;
  height: inherit;
  width: .1rem;
  color: #68AB6A;
  margin: 0 2rem 0 0;
}

.filter-container {
  margin: 0 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-bottom: 10vh;
  row-gap: 15vh;
  column-gap: 8vw;
}
.image-container{
  position: relative;
  overflow: hidden;
  background-color: #fff;
  /* border: 1px solid black; */
  border-radius: 14px 14px 0 0;
}
.filter-container .image-container {
  /* margin-left: 5vw; */
  width: inherit;
}

.filter-container .image-container img {
  width: inherit;
  height: 60vh;
  border-radius: 14px;
}

.filter-container .image-container p {
  font-weight: 700;
  text-transform: capitalize;
}

.filter-container .image-container p a {
  text-decoration: none;
  color: black;
}
