@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body{
    background-color: rgba(5, 7, 20, 0.858);
    margin:0;
    padding:0;
    overflow-x:hidden;
}
main{
    background:white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    width: 100%;
    min-height:500px;
}
aside{
    margin:0;
    padding:50px 15px 0 15px;
    background:rgb(224, 238, 232);
    width:300px;
    height:100%;
}
aside > div.img{
    margin-left:95px;
    width: 80px;
    height:80px;
    border-radius:50%;
    background-color:rgb(255, 255, 255);
    cursor:pointer;
}
.title{
    margin:10px 0 30px 30px;
    font-size: 24px;
}
ol li{
    height:40px;
    cursor:pointer;
}
ol li:hover{
    background:rgb(230, 222, 222);
    border-radius:0 25px 25px 0;
    border:none;
}
.active, .active:hover{
    background:rgb(98, 168, 180);
    border-radius:0 25px 25px 0;
}
.text{
    height:40px;
    width:170px;
    font-size:18px;
    padding-left:10px;
    display:table-cell;
  	vertical-align:middle;
}
.fa-li{
    margin:5px 0 0 -5px;
}
section{
    position: relative;
    margin:20px 20px 20px 0;
    /* width:875px; */
}
.header{
    position:relative;
    border-bottom:1px solid rgb(237, 244, 241);
    background:rgb(224, 238, 232);
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    padding-top:5px;
    font-weight: bolder;
    font-size: 20px;
}
.label-content{
    position:relative;
    left:100px;
    padding:20px 0 20px 0;
    font-size:16px;
    font-weight: bold;
    
}
.label-field{
    padding:10px 0 10px 20px;
    width:700px;
    height:auto;
    min-height: 50px;
    display:flex;
    justify-content:space-evenly;
}
.extra{
    display:flex;
    justify-content:center;
    padding-bottom: 20px;
}
.extra > div{
    position:relative;
    left:-55px
}
.label{
    padding:5px 10px 0 0;
    text-align: right;
    width:150px;
}
input{
    position:relative;
    left:0px;
    width:380px;
    height:35px;
    font-size:16px;
}
.checkbox{
    position:relative;
    left:-55px;
    top:3px;
    height:15px;width:15px;
}
button{
    position:absolute;
    margin: 0 auto;
    left:0;
    right: 0;
    width:100px;
    height:35px;
    border-radius:5px;
    background:teal;
    border:none;
    cursor:pointer;
}